@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
html {
  scroll-behavior: smooth;
}

/* Utility for fixed background images */
@layer utilities {
  .bg-fixed {
    background-attachment: fixed;
  }
}
